@import 'reset';
@import 'general';

.box {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
.flex-15 {
  flex: 0 1 13%;

}
.flex-75 {
  flex: 0 1 70%;
  display: grid;
  grid-template-columns: repeat(4, 23%);
  gap: 1rem;
  justify-content: center;
  // border: 2px solid black;
}
.cart-data {
  margin: 1rem;
  padding: 0.5rem;
  box-shadow: 2px 2px 5px 2px grey;
  border-radius: 15px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.img {
  width: 100%;
  border-radius: 15px;
}
.btn-all {
  background-color: black;
  color: white;
  padding: 0.3rem 0.7rem;
  margin: 0.2rem 0;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
}
.title {
  font-size: 1.4rem;
  font-weight: 500;
}
.price {
  font-size: 1.1rem;
  margin: 0.5rem 0;
}
.cart-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-cart {
  height: 100px;
}
.flex1-80 {
  width: 80%;
  text-align: center;
}
.heading {
  font-size: 3rem;
  font-weight: 600;
}

.header {
  text-align: center;
  background-color: teal;
  padding: 1rem 0;
}
.header h1 {
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
}
.tag-box {
  display: flex;
  flex-wrap: wrap;
}
.tag-box p {
  width: 35px;
  height: 35px;
  background-color: teal;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
font-size: 1.2rem;
padding: 6px;
color: white;
cursor: pointer;
}


.tag-box .active{
  color: white;
  background-color: black;
  border-color: black;
}

.card-div{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.flex-50{
  flex: 0 1 10%;

}
