body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  
  .box{
    text-align: center;
  display: flex;
  height: 30vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid red;
  }
  .btn>button{
    margin:  5px 20px;
    padding: .3rem 1.6rem;
    background-color: teal;
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
    border: none;
  }
  .h1{
    font-size: 3rem;
  
  }
  .box-2{
    margin: 10px 0;
    text-align: center;
  }
  .box2{
    text-align: center;
  }
  .box2>button{
  margin:  0 20px;
  border: none;
  padding: .2rem 1.6rem;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: teal;
  color: white;
  cursor: pointer;
  }
  .h1{
    text-align: center;
  }
  .max{
    text-align: center;
  }
  .max>button{
    margin:  0 20px;
  border: none;
  padding: .2rem 1.6rem;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: teal;
  color: white;
  cursor: pointer;
  }