/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
 display: block;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}

/* general css */
body{
  font-family: 'Aboreto', cursive;
  background-color: thistle;
}

h1{
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  background-color: chocolate;
  width: 55%;
  margin: 2rem  auto 0 auto;
  padding: .5rem;
  border-radius: 20px;
  color: whitesmoke;
}
.form-div{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
text-align: center;
}
.form-div input{
  margin: 10px auto;
  width: 50%;
  padding: .6rem 0;
  font-size: 1.1rem;
}
.form-div textarea{
  margin: 6px auto;
  width: 50%;
  font-size: 1.1rem; 
}

.section{
border-top: 4px dashed  grey ; 
 margin: 1rem 0;
 padding: 1rem 0;
}
.section form{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}
.section input{
  padding: .8rem;
  font-size: 1.15rem;
}
.section label{
  font-size: 1.4rem; 
  margin: .7rem 0;
}
.submit{
  margin: .6rem 0;
}
.error{
outline: 2px solid red;

}
span{
  color: red;
  margin: 2px 0;
}